/* header styles */
* {
    box-sizing: border-box;
}
.header{
    text-align: center;
    padding: 15px;
}
.topnav {
    overflow: hidden;
    position: fixed;
    background-color: darkred;
    width: 100%;
    margin-top: 0px;
    top: 0;
}

.topnav > ul {
    position: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.topnav li {
    float: center;
    border-left: 1px solid black;
    display: inline-block;
    padding: 20px;

}

.topnav a {
    float: left;
    text-align: center;
    color: white;
    display: block;
    text-decoration: none;
    padding: 14px 16px;
    border-right: 1px solid black;
}

.topnav a:hover {
    background-color: red;
    color: #dddddd;
    text-decoration: none;
}


/* content styles */

.content {
    width: 85%;
    padding:1px 16px;
    height:1000px;
    float: right;
    top: 100px;
    border: solid 1px;
    color: #dddddd;
    border-color: red;
    background-color: gray;

}

/* categories styles */
.sidenav ul{
    list-style-type: none;
    position: fixed;
    top: 0;
    margin: 0;
    padding: 0px;
    height: 100%;
    color: #dddddd;
    background-color: dimgrey;
    z-index: -1;
    width: 15%;
    overflow: auto;
    padding-top: 5em;
}
.sidenav li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 8px 16px;
}
.active{
    background-color: gray;
    color: white;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
/* footer styles */
.footer {
    color: green;
    padding: 15px;
    float: right;
}

