* {
    box-sizing: border-box;
}
/* topnav styles */
.topnav {
    overflow: hidden;
    position: fixed;
    background-color: darkred;
    width: 100%;
    margin-top: 0px;
    top: 0;
}
.topnav > h1{
    overflow: hidden;
    color: white;
    text-align: center;
}

.topnav > ul {
    position: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.topnav > li {
    float: left;
    border-left: 1px solid black;
    display: inline-block;
    padding: 20px;

}

.topnav a {
    float: left;
    text-align: center;
    color: white;
    display: block;
    text-decoration: none;
    padding: 16px 16px;
    border-right: 1px solid black;
}

.topnav a:hover:not(.active) {
    background-color: red;
    color: #dddddd;
    text-decoration: none;
}
.topnav .active{
    background-color: #480000;
    text-decoration: none;
    color: white;
}


/* content styles */

.content {
    width: 85%;
    padding:5px 16px;
    height:1000px;
    float: right;
    border: solid 1px;
    color: #dddddd;
    border-color: red;
    background-color: gray;
    display: block;

}
.tietoa {
    width: 85%;
    padding:5px 16px;
    float: left;
    position: absolute;
    height: 100%;
    border: solid 1px;
    color: #dddddd;
    border-color: red;
    display: block;
    margin: 100px;
    margin-top: 80px;
    z-index: -1;
    background-color: #4d4d4d;

}

/* sidenav styles */
.sidenav ul{
    list-style-type: none;
    position: fixed;
    top: 0;
    margin: 0;
    padding: 0px;
    height: 100%;
    color: #dddddd;
    background-color: dimgrey;
    z-index: -1;
    width: 15%;
    overflow: auto;
    padding-top: 5em;
    display: block;
}
.sidenav li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 8px 16px;
}
.sidenav li a:hover, .dropdown:hover .dropbtn{
    background-color:red;
}

.dropdown-content {
    display: none;
    position: relative;
    background-color: gray;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
     color: black;
     padding: 12px 16px;
     text-decoration: none;
     display: block;
     text-align: left;
 }

.dropdown-content a:hover {
    background-color: red;
}
.dropdown:hover .dropdown-content {
    display: block;
}

li a:hover:not(.active) {
    background-color: darkgrey;
    color: white;
}
/* footer styles */
.footer {
    color: green;
    padding: 15px;
    float: right;
    overflow: hidden;
}
#loginForm ul, #registerForm ul{
    list-style-type: none;
    display: block;
}
#loginForm li input, #registerForm li input{
    display: block;
    margin-bottom: 10px;
}

